
<h2>Arama Sonuçları</h2>
<br />
<h3>En Uygun Fiyat</h3>
@if (ViewBag.LowestPrice is not null)
{
    <p>Lowest Price: @ViewBag.LowestPrice.Item1 - @ViewBag.LowestPrice.Item2 - @ViewBag.LowestPrice.Item3</p>
}
else
{
    <p>No prices available.</p>
}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Site</th>
            <th>Ürün Adı</th>
            <th>Fiyat</th>
        </tr>
    </thead>
    <tbody>
        
            <tr>
                <td>hepsiburada</td>
                <td>ürün</td>
                <td>fiyat</td>
            </tr>
      
    </tbody>
</table>



